{
    "openapi": "3.0.0",
    "info": {
        "title": "sms-app api documentation",
        "description": "sms-app api documentation",
        "contact": {
            "email": "orutu1@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Demo API Server"
        }
    ],
    "paths": {
        "/login": {
            "post": {
                "tags": [
                    "Login User"
                ],
                "description": "Users login method",
                "operationId": "UsersLogin",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Users email address",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Users password",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Logout User"
                ],
                "summary": "Logout users",
                "description": "Logout users from the system",
                "operationId": "LogoutUsers",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Authenticate users token",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User logged out successfully"
                    },
                    "500": {
                        "description": "Failed to logout, please try again."
                    }
                }
            }
        },
        "/refresh": {
            "post": {
                "tags": [
                    "Refresh User Token"
                ],
                "summary": "Refresh Token",
                "description": "Create new token for and returns the token",
                "operationId": "refreshToken",
                "responses": {
                    "200": {
                        "description": "New Token"
                    }
                }
            }
        },
        "/user-profile": {
            "get": {
                "tags": [
                    "View User Profile"
                ],
                "summary": "Get auth users profile",
                "description": "Returns the authenticated users profile",
                "operationId": "Authenticated Users Profile",
                "responses": {
                    "200": {
                        "description": "User"
                    }
                }
            }
        },
        "/create-account": {
            "post": {
                "tags": [
                    "Create User Account"
                ],
                "summary": "Create User Account",
                "description": "Create new users account",
                "operationId": "CreateUser",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Users fullname",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Users email address",
                        "required": true
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Users phone number",
                        "required": true
                    },
                    {
                        "name": "organization_name",
                        "in": "query",
                        "description": "Enter organization name",
                        "required": true
                    },
                    {
                        "name": "office_address",
                        "in": "query",
                        "description": "Enter office address",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Users password",
                        "required": true
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "description": "Users password confirmation"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Account created successfully"
                    },
                    "400": {
                        "description": "Sorry unable to create accounnt"
                    },
                    "422": {
                        "description": "Validation error occured"
                    }
                }
            }
        },
        "/update-profile/{id}": {
            "patch": {
                "tags": [
                    "Update User Account"
                ],
                "summary": "Update Users Account",
                "description": "Update existing users account",
                "operationId": "UpdateUser",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Users fullname"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Users phone number"
                    },
                    {
                        "name": "organization_name",
                        "in": "query",
                        "description": "Enter organization name"
                    },
                    {
                        "name": "office_address",
                        "in": "query",
                        "description": "Enter office address"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Profile updated successfully"
                    },
                    "400": {
                        "description": "Sorry unable to update profile"
                    },
                    "404": {
                        "description": "Sorry this data do not exist"
                    },
                    "422": {
                        "description": "Validation error occured"
                    }
                }
            }
        },
        "/reset-password/{id}": {
            "patch": {
                "tags": [
                    "Reset User Password"
                ],
                "summary": "Reset users password",
                "description": "Reset users account password",
                "operationId": "ResetPassword",
                "parameters": [
                    {
                        "name": "old_password",
                        "in": "query",
                        "description": "Enter old password",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Enter new password for users account",
                        "required": true
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "description": "Enter password confrimation for users account",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User password reset successful"
                    },
                    "400": {
                        "description": "Sorry the password reset process failed"
                    },
                    "422": {
                        "description": "Validation error occured"
                    },
                    "404": {
                        "description": "Sorry this user do not exist"
                    },
                    "401": {
                        "description": "Sorry new password can not be the old password!"
                    },
                    "402": {
                        "description": "Sorry old password doesnt matched"
                    }
                }
            }
        },
        "/delete-user/{id}": {
            "delete": {
                "tags": [
                    "Delete Users Account"
                ],
                "summary": "Delete user account",
                "description": "Delete users account form the system",
                "operationId": "Delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Enter users id to add image",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User deleted successfully"
                    },
                    "400": {
                        "description": "Sorry unable to delete user"
                    },
                    "404": {
                        "description": "Sorry this user do not exist"
                    }
                }
            }
        },
        "/contacts": {
            "get": {
                "tags": [
                    "Show All Contacts"
                ],
                "description": "Show all contacts",
                "operationId": "AllContacts",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Contact"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry no contact found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Create Contact"
                ],
                "description": "Create new contact",
                "operationId": "CreateContact",
                "parameters": [
                    {
                        "name": "sur_name",
                        "in": "query",
                        "description": "Enter sur name of the contact person",
                        "required": true
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "description": "Enter first name of the contact person",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Enter email address of the contact person",
                        "required": true
                    },
                    {
                        "name": "scheme",
                        "in": "query",
                        "description": "Enter scheme of the contact person",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "Enter gender of the contact person",
                        "required": true
                    },
                    {
                        "name": "dob",
                        "in": "query",
                        "description": "Enter date of birth of the contact person",
                        "required": true
                    },
                    {
                        "name": "phone_number",
                        "in": "query",
                        "description": "Enter phone number of the contact person",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact created successfully"
                    },
                    "400": {
                        "description": "Sorry unable to create contact"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/contacts-batch": {
            "post": {
                "tags": [
                    "UploadContact"
                ],
                "description": "Upload batch contacts",
                "operationId": "UploadBatchContacts",
                "parameters": [
                    {
                        "name": "file",
                        "in": "query",
                        "description": "Csv file is required",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contacts uploaded successfully"
                    },
                    "400": {
                        "description": "Sorry unable to create contact"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/contacts/{id}": {
            "get": {
                "tags": [
                    "Show Contact"
                ],
                "description": "Show single contact",
                "operationId": "ShowContact",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Enter contact id",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Sorry this data do not exist"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Delete Contact"
                ],
                "summary": "Delete existing contact",
                "description": "Deletes a contact and returns no content",
                "operationId": "deleteContact",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Contact Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry this contact do not exist"
                    },
                    "400": {
                        "description": "Sorry unable to delete contact"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Update Contacts"
                ],
                "operationId": "UpdateContacts",
                "parameters": [
                    {
                        "name": "sur_name",
                        "in": "query",
                        "description": "Enter sur name of the contact person",
                        "required": true
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "description": "Enter first name of the contact person",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Enter email address of the contact person",
                        "required": true
                    },
                    {
                        "name": "phone_number",
                        "in": "query",
                        "description": "Enter phone number of the contact person",
                        "required": true
                    },
                    {
                        "name": "scheme",
                        "in": "query",
                        "description": "Enter scheme of the contact person",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "Enter gender of the contact person",
                        "required": true
                    },
                    {
                        "name": "dob",
                        "in": "query",
                        "description": "Enter date of birth of the contact person",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact updated successfully"
                    },
                    "400": {
                        "description": "Sorry unable to update contact"
                    },
                    "404": {
                        "description": "Sorry this data do not exist"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/add-contacts": {
            "post": {
                "tags": [
                    "Add Contact to Groups"
                ],
                "description": "Add Contact to Groups",
                "operationId": "AddContactToGroup",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Enter the group id",
                        "required": true
                    },
                    {
                        "name": "contacts_id",
                        "in": "query",
                        "description": "Enter contacts id in array format",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contacts add to group successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/remove-contacts": {
            "delete": {
                "tags": [
                    "Romve Contacts to Groups"
                ],
                "description": "Romve Contacts to Groups",
                "operationId": "RemoveContactsToGroup",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Enter the group id",
                        "required": true
                    },
                    {
                        "name": "contacts_id",
                        "in": "query",
                        "description": "Enter contacts id in array format",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contacts removed from group successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/add-single-contact": {
            "post": {
                "tags": [
                    "Add Single Contact Group"
                ],
                "description": "Add Single Contact Group",
                "operationId": "AddSingleContactGroup",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Enter the group id",
                        "required": true
                    },
                    {
                        "name": "contact_id",
                        "in": "query",
                        "description": "Enter contact id",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact add to group successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/delete-single-contact": {
            "delete": {
                "tags": [
                    "Delete Single Contact Group"
                ],
                "description": "Delete Single Contact Group",
                "operationId": "DeleteSingleContact",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Enter the group id",
                        "required": true
                    },
                    {
                        "name": "contact_id",
                        "in": "query",
                        "description": "Enter contact id",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contact removed from group successfully"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/configurations": {
            "get": {
                "tags": [
                    "Show All Configuration Settings"
                ],
                "description": "Show All Configuration Settings",
                "operationId": "AllConfigurationSettings",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmailConfiguration"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry no contact found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Create Email Configuration Settings"
                ],
                "description": "Create new email configuration settings",
                "operationId": "CreateEmailConfiguration",
                "parameters": [
                    {
                        "name": "driver",
                        "in": "query",
                        "description": "Enter email driver",
                        "required": true
                    },
                    {
                        "name": "host",
                        "in": "query",
                        "description": "Enter email host",
                        "required": true
                    },
                    {
                        "name": "port",
                        "in": "query",
                        "description": "Enter email port",
                        "required": true
                    },
                    {
                        "name": "encryption",
                        "in": "query",
                        "description": "Enter email enycryption ",
                        "required": true
                    },
                    {
                        "name": "user_name",
                        "in": "query",
                        "description": "Enter email user name",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Enter email password",
                        "required": true
                    },
                    {
                        "name": "sender_name",
                        "in": "query",
                        "description": "Enter email sender name",
                        "required": true
                    },
                    {
                        "name": "sender_email",
                        "in": "query",
                        "description": "Enter email sender email",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration created successfully"
                    },
                    "400": {
                        "description": "Sorry unable to create configuration"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/configurations/{id}": {
            "get": {
                "tags": [
                    "Show Configuration"
                ],
                "description": "Show configuration details",
                "operationId": "ShowConfiguration",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Enter configuration id",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Sorry this data do not exist"
                    }
                }
            },
            "post": {
                "tags": [
                    "Update Email Configuration Settings"
                ],
                "description": "Update email configuration settings",
                "operationId": "UpdateEmailConfiguration",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Enter configuration id",
                        "required": true
                    },
                    {
                        "name": "driver",
                        "in": "query",
                        "description": "Enter email driver",
                        "required": true
                    },
                    {
                        "name": "host",
                        "in": "query",
                        "description": "Enter email host",
                        "required": true
                    },
                    {
                        "name": "port",
                        "in": "query",
                        "description": "Enter email port",
                        "required": true
                    },
                    {
                        "name": "encryption",
                        "in": "query",
                        "description": "Enter email enycryption ",
                        "required": true
                    },
                    {
                        "name": "user_name",
                        "in": "query",
                        "description": "Enter email user name",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Enter email password",
                        "required": true
                    },
                    {
                        "name": "sender_name",
                        "in": "query",
                        "description": "Enter email sender name",
                        "required": true
                    },
                    {
                        "name": "sender_email",
                        "in": "query",
                        "description": "Enter email sender email",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Configuration updated successfully"
                    },
                    "400": {
                        "description": "Sorry unable to update configuration"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Delete Settings"
                ],
                "summary": "Delete existing settings",
                "description": "Deletes configuration settings and returns no content",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Contact Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry this do not exist"
                    },
                    "400": {
                        "description": "Sorry unable to delete settings"
                    }
                }
            }
        },
        "/email-verification-notification": {
            "post": {
                "tags": [
                    "User Forgot Password"
                ],
                "description": "User Forgot Password",
                "operationId": "ForgotPassword",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "User token",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/email/verify/{id}/{hash}": {
            "get": {
                "tags": [
                    "User Forgot Password"
                ],
                "description": "User Forgot Password",
                "operationId": "ForgotPassword",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "User token",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful"
                    }
                }
            }
        },
        "/groups": {
            "get": {
                "tags": [
                    "Show All Groups"
                ],
                "description": "Show all groups",
                "operationId": "AllGroups",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Group"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry no group found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Create Group"
                ],
                "description": "Create new group",
                "operationId": "CreateGroup",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Enter group name",
                        "required": true
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Enter group description",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Group created successfully"
                    },
                    "400": {
                        "description": "Sorry unable to create group"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/groups/{id}": {
            "get": {
                "tags": [
                    "Show Group"
                ],
                "description": "Show single group",
                "operationId": "ShowGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Enter group id",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Group"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry this data do not exist"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Delete Group"
                ],
                "summary": "Delete existing group",
                "description": "Deletes a group and returns no content",
                "operationId": "deleteGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Group Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry this group do not exist"
                    },
                    "400": {
                        "description": "Sorry unable to delete group"
                    }
                }
            },
            "patch": {
                "tags": [
                    "UpdateGroup"
                ],
                "description": "Update existing group",
                "operationId": "UpdateGroup",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Enter group name",
                        "required": true
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Enter group description",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "group updated successfully"
                    },
                    "400": {
                        "description": "Sorry unable to update group"
                    },
                    "404": {
                        "description": "Sorry this data do not exist"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/plans": {
            "get": {
                "tags": [
                    "Show All Plans"
                ],
                "description": "Show all plans",
                "operationId": "AllPlans",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry no plan found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Create Plan"
                ],
                "description": "Create new plan",
                "operationId": "CreatePlan",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Enter plan name",
                        "required": true
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Enter plan description",
                        "required": true
                    },
                    {
                        "name": "duration",
                        "in": "query",
                        "description": "Enter plan duration",
                        "required": true
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "description": "Enter plan cost",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Plan created successfully"
                    },
                    "400": {
                        "description": "Sorry unable to create plan"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/plans/{id}": {
            "get": {
                "tags": [
                    "Show Plan"
                ],
                "description": "Show single plan",
                "operationId": "ShowPlan",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Enter plan id",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Plan"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry this data do not exist"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Delete Plan"
                ],
                "summary": "Delete existing plan",
                "description": "Deletes a plan and returns no content",
                "operationId": "deletePlan",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Plan Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry this plan do not exist"
                    },
                    "400": {
                        "description": "Sorry unable to delete plan"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Update Plan"
                ],
                "description": "Update  plan",
                "operationId": "UpdatePlan",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Enter plan name"
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Enter plan description"
                    },
                    {
                        "name": "duration",
                        "in": "query",
                        "description": "Enter plan duration"
                    },
                    {
                        "name": "cost",
                        "in": "query",
                        "description": "Enter plan cost"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category updated successfully"
                    },
                    "400": {
                        "description": "Sorry unable to update category"
                    },
                    "404": {
                        "description": "Sorry this data do not exist"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/recharges": {
            "get": {
                "tags": [
                    "Show All Reacharge"
                ],
                "description": "Show all reacharge",
                "operationId": "AllReacharge",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Recharge"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry no recharge found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Create Recharge"
                ],
                "description": "Create new Recharge",
                "operationId": "CreateRecharge",
                "parameters": [
                    {
                        "name": "unit_id",
                        "in": "query",
                        "description": "Enter the unit id",
                        "required": true
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "Enter the number of unit",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recharge successfully"
                    },
                    "400": {
                        "description": "Sorry unable to Recharge"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/recharges/{id}": {
            "get": {
                "tags": [
                    "Show Recharge"
                ],
                "description": "Show single Recharge",
                "operationId": "ShowRecharge",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Enter Recharge id",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Sorry this data do not exist"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Delete Recharge"
                ],
                "summary": "Delete existing Recharge",
                "description": "Deletes a Recharge and returns no content",
                "operationId": "deleteRecharge",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Recharge Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry this Recharge do not exist"
                    },
                    "400": {
                        "description": "Sorry unable to delete Recharge"
                    }
                }
            }
        },
        "/forgot-password": {
            "post": {
                "tags": [
                    "User Forgot Password"
                ],
                "description": "User Forgot Password",
                "operationId": "ForgotPassword",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Users email address",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/reset-password": {
            "post": {
                "tags": [
                    "User Reset Forgot Password"
                ],
                "description": "User Reset Forgot Password",
                "operationId": "ResetPassword",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token sent to users email",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Users email address",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "New password",
                        "required": true
                    },
                    {
                        "name": "password_confirmation",
                        "in": "query",
                        "description": "New password confirmation",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful"
                    },
                    "422": {
                        "description": "Validation errors"
                    }
                }
            }
        },
        "/send-bulk-email": {
            "post": {
                "tags": [
                    "Send Email"
                ],
                "description": "Send email in batch",
                "operationId": "SendEmail in bulk",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Enter group id",
                        "required": true
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Enter email title",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "description": "Enter email body",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Email sent successfully"
                    },
                    "400": {
                        "description": "Sorry unable to send email"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/send-single-email": {
            "post": {
                "tags": [
                    "Send Email"
                ],
                "description": "Send email in batch",
                "operationId": "SendEmail in bulk",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "query",
                        "description": "Enter contact id",
                        "required": true
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Enter email title",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "description": "Enter email body",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message sent successfully"
                    },
                    "400": {
                        "description": "Sorry unable to send email"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/send-contacts-email": {
            "post": {
                "tags": [
                    "Send All Contacts Email"
                ],
                "description": "Send All Contacts Email",
                "operationId": "AllEmailsToContact",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Enter email title",
                        "required": true
                    },
                    {
                        "name": "body",
                        "in": "query",
                        "description": "Enter email body",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Email sent successfully"
                    },
                    "400": {
                        "description": "Sorry unable to send email"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/send-bulk-message": {
            "post": {
                "tags": [
                    "Send SMS"
                ],
                "description": "Send sms in batch",
                "operationId": "SendSMS in bulk",
                "parameters": [
                    {
                        "name": "group_id",
                        "in": "query",
                        "description": "Enter group id",
                        "required": true
                    },
                    {
                        "name": "message",
                        "in": "query",
                        "description": "Enter message body",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message sent successfully"
                    },
                    "400": {
                        "description": "Sorry unable to send message"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/send-single-message": {
            "post": {
                "tags": [
                    "Send Message"
                ],
                "description": "Send sms",
                "operationId": "SendMessag",
                "parameters": [
                    {
                        "name": "contact_id",
                        "in": "query",
                        "description": "Enter contact id",
                        "required": true
                    },
                    {
                        "name": "message",
                        "in": "query",
                        "description": "Enter email body",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message sent successfully"
                    },
                    "400": {
                        "description": "Sorry unable to send message"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/message-contacts": {
            "post": {
                "tags": [
                    "Send SMS"
                ],
                "description": "Send sms in bulk to all contacts",
                "operationId": "SendSMS in bulk to all contacts",
                "parameters": [
                    {
                        "name": "message",
                        "in": "query",
                        "description": "Enter message body",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Message sent successfully"
                    },
                    "400": {
                        "description": "Sorry unable to send message"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/units": {
            "get": {
                "tags": [
                    "Show All Units"
                ],
                "description": "Show all units",
                "operationId": "AllUnits",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unit"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry no unit price found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Create unit"
                ],
                "description": "Create new unit",
                "operationId": "CreateUnit",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Enter unit name",
                        "required": true
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Enter unit description",
                        "required": true
                    },
                    {
                        "name": "unit",
                        "in": "query",
                        "description": "Enter unit range",
                        "required": true
                    },
                    {
                        "name": "cost_per_unit",
                        "in": "query",
                        "description": "Enter cost per unit",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Unit created successfully"
                    },
                    "400": {
                        "description": "Sorry unable to create unit"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/units/{id}": {
            "get": {
                "tags": [
                    "Show Unit"
                ],
                "description": "Show single unit details",
                "operationId": "ShowUnit",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Enter unit id",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unit"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Sorry this data do not exist"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Delete Unit"
                ],
                "summary": "Delete existing unit",
                "description": "Deletes a unit and returns no content",
                "operationId": "deleteUnit",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Unit Id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Sorry this unit do not exist"
                    },
                    "400": {
                        "description": "Sorry unable to delete unit"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Update unit"
                ],
                "description": "Update existing unit",
                "operationId": "UpdateUnit",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Enter unit name",
                        "required": true
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Enter unit description",
                        "required": true
                    },
                    {
                        "name": "unit",
                        "in": "query",
                        "description": "Enter unit range",
                        "required": true
                    },
                    {
                        "name": "cost_per_unit",
                        "in": "query",
                        "description": "Enter cost per unit",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Unit updated successfully"
                    },
                    "400": {
                        "description": "Sorry unable to update unit"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Contact": {
                "title": "Contact",
                "description": "Contact model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "sur_name": {
                        "title": "Sur name",
                        "description": "Sur name of the contact person ",
                        "type": "string",
                        "example": "Orutu"
                    },
                    "first_name": {
                        "title": "First Name",
                        "description": "Frist name of contact person",
                        "type": "string",
                        "example": "Akposieyefa"
                    },
                    "email": {
                        "title": "Email",
                        "description": "Email address of the contact person",
                        "type": "string",
                        "example": "orutu1@gmail.com"
                    },
                    "phone_number": {
                        "title": "Phone number",
                        "description": "Phone number of the contact person",
                        "type": "string",
                        "example": "08100788859"
                    },
                    "scheme": {
                        "title": "Scheme",
                        "description": "Enter scheme of the contact person",
                        "type": "string",
                        "example": "NHIS"
                    },
                    "gender": {
                        "title": "Gender",
                        "description": "Enter gender of the contact person",
                        "type": "string",
                        "example": "Male"
                    },
                    "dob": {
                        "title": "DOB",
                        "description": "Date of birth of the contact person",
                        "type": "string",
                        "example": "1995-06-15"
                    },
                    "created_at": {
                        "title": "Created at",
                        "description": "Created at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "updated_at": {
                        "title": "Updated at",
                        "description": "Updated at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Contact"
                }
            },
            "EmailConfiguration": {
                "title": "EmailConfiguration",
                "description": "EmailConfiguration model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "driver": {
                        "title": "Driver",
                        "description": "Enter email driver",
                        "type": "string",
                        "example": "smtp"
                    },
                    "host": {
                        "title": "Host",
                        "description": "Enter email host",
                        "type": "string",
                        "example": "smtp.gmail.com"
                    },
                    "port": {
                        "title": "Port",
                        "description": "Enter email port",
                        "type": "string",
                        "example": "465"
                    },
                    "encryption": {
                        "title": "Encryption",
                        "description": "Enter email encyription",
                        "type": "string",
                        "example": "ssl"
                    },
                    "user_name": {
                        "title": "Username",
                        "description": "Enter email username",
                        "type": "string",
                        "example": "orutu1@gmail.com"
                    },
                    "password": {
                        "title": "Password",
                        "description": "Enter email password",
                        "type": "string",
                        "example": "password"
                    },
                    "sender_name": {
                        "title": "Sender Name",
                        "description": "Enter email sender name",
                        "type": "string",
                        "example": "AgroTech"
                    },
                    "sender_email": {
                        "title": "Sender Email",
                        "description": "Enter sender email",
                        "type": "string",
                        "example": "orutu1@gmail.com"
                    },
                    "created_at": {
                        "title": "Created at",
                        "description": "Created at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "updated_at": {
                        "title": "Updated at",
                        "description": "Updated at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "EmailConfiguration"
                }
            },
            "Group": {
                "title": "Group",
                "description": "Group model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "name": {
                        "title": "Name",
                        "description": "Name of the group",
                        "type": "string",
                        "example": "All Staff"
                    },
                    "description": {
                        "title": "Description",
                        "description": "Description of the group",
                        "type": "string",
                        "example": "This is for cars and truck description"
                    },
                    "created_at": {
                        "title": "Created at",
                        "description": "Created at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "updated_at": {
                        "title": "Updated at",
                        "description": "Updated at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "slug": {
                        "title": "Slug",
                        "description": "Slug",
                        "type": "string",
                        "example": "all-staff"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Group"
                }
            },
            "Plan": {
                "title": "Plan",
                "description": "Plan model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "name": {
                        "title": "Name",
                        "description": "Name of the category",
                        "type": "string",
                        "example": "Cars and Trucks"
                    },
                    "duration": {
                        "title": "Duration",
                        "description": "Enter duration of this plan",
                        "type": "string",
                        "example": "One Month"
                    },
                    "cost": {
                        "title": "Cost",
                        "description": "Enter the cost of this plan",
                        "type": "string",
                        "example": "1000"
                    },
                    "description": {
                        "title": "Description",
                        "description": "Description of the category",
                        "type": "string",
                        "example": "This is for cars and truck description"
                    },
                    "created_at": {
                        "title": "Created at",
                        "description": "Created at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "updated_at": {
                        "title": "Updated at",
                        "description": "Updated at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "slug": {
                        "title": "Slug",
                        "description": "Slug",
                        "type": "string",
                        "example": "cars-and-trucks"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Plan"
                }
            },
            "Recharge": {
                "title": "Recharge",
                "description": "Recharge model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "user_id": {
                        "title": "User ID",
                        "description": "User id ",
                        "type": "string",
                        "example": "id"
                    },
                    "unit_id": {
                        "title": "Unit Id",
                        "description": "Unit id",
                        "type": "string",
                        "example": "1"
                    },
                    "number": {
                        "title": "Number",
                        "description": "Number of unit",
                        "type": "string",
                        "example": "100"
                    },
                    "amount": {
                        "title": "Amount",
                        "description": "Unit amount",
                        "type": "string",
                        "example": "1000"
                    },
                    "created_at": {
                        "title": "Created at",
                        "description": "Created at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "updated_at": {
                        "title": "Updated at",
                        "description": "Updated at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Recharge"
                }
            },
            "Transaction": {
                "title": "Transaction",
                "description": "Transaction model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "trans_ref": {
                        "title": "Transactoin ref",
                        "description": "Payment transaction reference",
                        "type": "string",
                        "example": "128439"
                    },
                    "type": {
                        "title": "Transaction Type",
                        "description": "Transaction type",
                        "type": "string",
                        "example": "Unit"
                    },
                    "paid": {
                        "title": "Payment status",
                        "description": "User payment status",
                        "type": "string",
                        "example": "paid"
                    },
                    "created_at": {
                        "title": "Created at",
                        "description": "Created at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "updated_at": {
                        "title": "Updated at",
                        "description": "Updated at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Transaction"
                }
            },
            "Unit": {
                "title": "Unit",
                "description": "Unit model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "name": {
                        "title": "Name",
                        "description": "One",
                        "type": "string",
                        "example": "ONe unit"
                    },
                    "duration": {
                        "title": "Unit",
                        "description": "Enter the range",
                        "type": "string",
                        "example": "1 to 1999"
                    },
                    "cost_per_unit": {
                        "title": "Cost Per Unit",
                        "description": "Enter the cost per unit",
                        "type": "string",
                        "example": "1000"
                    },
                    "description": {
                        "title": "Description",
                        "description": "Description of the category",
                        "type": "string",
                        "example": "This is for cars and truck description"
                    },
                    "created_at": {
                        "title": "Created at",
                        "description": "Created at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "updated_at": {
                        "title": "Updated at",
                        "description": "Updated at",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Unit"
                }
            }
        }
    },
    "tags": [
        {
            "name": "sms-app",
            "description": "API Endpoints of sms-app"
        }
    ],
    "security": [
        []
    ]
}