/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/images
/storage/*.key
/vendor
.env
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
.DS_Store
/.idea
/.vscode
/public/mix-manifest.json
worker.log
